/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2015, 2:18:28 PM
    Author     : ahockebo
*/

body {
    background-color: #cccccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    background-color: #ffffff;
}